@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    background-color: #666666; 
    height: min-content;
}

body{
    display: flex;
}

hr{
    margin: 15px 0px;
    width: 100%;
    height: 3px;
    border: hidden;
    background-color: #e15b4f;
    box-shadow: 0px 1px 3px #e15b4f;
}

.sidebar{
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #2a2b2a;
    width: 300px;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: all 0.25s;
}

.closed{
    width: 100px;
    min-width: 100px;
    transition: all 0.5s;
}

#top-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 15vh;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#top-sidebar > h1 {
    position: relative;
    margin: 0;
    background: linear-gradient(60deg, red, orange, yellow, #00ff00, aqua, #6666ff, #ff3399);
    font-size: 3.5rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 1000% 100%;
    animation: animation 15s ease-in-out infinite;
    transition: font-size 0.5s;
}

#top-sidebar > h1::after{
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    -webkit-text-stroke: black 2px;
    text-shadow:
    #f8f4e3 -2px -2px 0px,
    #f8f4e3 -2px 2px 0px,
    #f8f4e3 2px -2px 0px,
    #f8f4e3 2px 2px 1px,
    red 0px 0px 16px;
    top: 0;
    z-index: -1;
}

#nav-menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
}

#nav-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
}

.sidebar button{
    height: 90px;
    max-height: 90px;
    min-height: 90px;
    width: 92.5%;
    background-color: transparent;
    border: transparent solid 3px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6px;
}

.sidebar button:hover{
    border: #e15b4f solid 3px;
    box-shadow: #e15b4f 0px 0px 7px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.nav-button-text{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 2.5rem;
    font-weight: 100;
    color: #e15b4f;
    text-shadow: 0px 0px 5px;
    transition: font-size 0.75s;
}

.icon{
    height: 75%;
    fill: #e15b4f;
    filter: drop-shadow(0px 0px 2px #e15b4f);
}

@keyframes animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

#portfolio-pic{
    height: 55%;
    min-height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: #e15b4f solid 3px;
    box-shadow: #e15b4f 0px 0px 7px;
    background: url("../img/icon.png") lightgray;
    background-position: center;
    background-size: contain;
}

#site-body {
    display: flex;
    padding: 0px 15px 0 15px;
    width: 100%;
    min-height: 100% !important;
    height: min-content;
    background-color: #666666; 
    flex-direction: column;
    gap: 5px;
    flex: 1 0 0;
}

.fixed-aspect{
    aspect-ratio: 16/9;
    width: 100%;
    border: #e15b4f solid 1px;
    background-color: #666666; 
}

.hidden-animated{
    visibility: hidden;
    position: absolute;
    font-size: 0px;
}

.hidden{
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #666666; 
}

::-webkit-scrollbar-thumb {
    background: #2a2b2a; 
      border-radius:5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
} 

/*styling nav bar chiusa*/
.closed{
    display: flex;
    float: left;
    background-color: #2a2b2a;
    width: 100px;
    min-width: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: all 0.5s;
}

.closed #top-sidebar{
    margin-top: 10px;
    height: 80px;
    max-height: 80px;
    background-color: transparent;
}

.closed #portfolio-pic{
    aspect-ratio: 1;
    margin: 0px 10px 0px 10px;
    min-height: 80px;
    height: 80px;
    border-radius: 50%;
    border: #e15b4f solid 3px;
    box-shadow: #e15b4f 0px 0px 10px;
    background: url("../img/icon.png") lightgray;
    background-position: center;
    background-size: contain;
}

.closed #top-sidebar > h1 {
    visibility: hidden;
    position: absolute;
    font-size: 0px;
}

.closed #top-sidebar{
    padding: 5px 0px;
}

.closed button{
    height: 70px;
    max-height: 70px;
    min-height: 70px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: #e15b4f solid 3px;
    justify-content: center;
    box-shadow: #e15b4f 0px 0px 7px;
    width: auto;
}

.closed button:hover{
    aspect-ratio: 1;
    width: auto;
}

@media only screen and (max-width: 991px){

    .sidebar{
        display: flex;
        float: left;
        background-color: #2a2b2a;
        width: 100px;
        min-width: 100px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    #top-sidebar{
        margin-top: 10px;
        height: 80px;
        max-height: 80px;
        background-color: transparent;
    }

    #portfolio-pic{
        aspect-ratio: 1;
        margin: 0px 10px 0px 10px;
        height: 80px;
        border-radius: 50%;
        border: #e15b4f solid 3px;
        box-shadow: #e15b4f 0px 0px 10px;
        background: url("../img/icon.png") lightgray;
        background-position: center;
        background-size: contain;
    }

    .sidebar h1 {
        display: none;
    }

    #top-sidebar{
        padding: 5px 0px;
    }
    
    .sidebar button{
        height: 70px;
        max-height: 70px;
        min-height: 70px;
        border-radius: 50%;
        aspect-ratio: 1;
        border: #e15b4f solid 3px;
        box-shadow: #e15b4f 0px 0px 7px;
        justify-content: center;
        width: auto;
    }

    .sidebar button:hover{
        aspect-ratio: 1;
        width: auto;
    }

    .fixed-aspect{
        aspect-ratio: 16/9;
        width: 100%;
        border: #e15b4f solid 1px;
        background-color: #666666; 
    }

    #closed-menu-icon{
        display: none;
    }

    #open-menu-icon{
        display: block;
    }
}