.photo-text-column{
    display: flex;
    flex-direction: row;
    
}

.text-column{
    flex: 3;
}

.photo-container{
    display: flex;
    flex-direction: column;
    gap: 10%;
    flex: 1;
}

.photo-container > img{
    box-shadow: #cb7169 0px 0px 7px;
    border: #cb7169 solid 2px;
    width: 100%;
    aspect-ratio: 16/9;
}